description/*
!description/*.tex
!description/*.pdf

Formelsammlung/*
!Formelsammlung/*.tex
!Formelsammlung/*.pdf

low-case-numbers-stability/description/*
!low-case-numbers-stability/description/*.tex
!low-case-numbers-stability/description/*.pdf

data/*.json
data/*.txt
data/*.xlsx
data/*.csv
data/*.icloud
!data/data.txt

__pycache__/*
.DS_Store